body{
  background-image: url("../images/background-fhd.jpg");
  background-size: cover;
}

.notebook-img{
  position:absolute;
  width: 50vw;
  z-index: -1;
}


.calculator-display-container{
}

.calculator-number-container{
  font-family: 'Nanum Brush Script', cursive;
  font-size: 5vw;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.notebook-wrapper{
  position: relative;
  width: 50vw;
  height: 50vw;
  margin: auto;
}

.calculator-button{
  border: solid;
  background-color: grey;
  align-self: stretch;
  justify-self: stretch;
  text-align: justify;
}
