body{
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.notebook-img{
  position:absolute;
  width: 50vw;
  z-index: -1;
}


.calculator-display-container{
  justify-self: center;
  margin: auto;
}

.calculator-number-container{
  font-family: 'Nanum Brush Script', cursive;
  font-size: 5vw;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.notebook-wrapper{
  position: relative;
  width: 50vw;
  margin: auto;
} 

@media (orientation: portrait) {
  .notebook-wrapper {
    width: 95vw;
    color: green;
  }
}


.calculator-button{
  background: rgba( 255, 255, 255, 0.30 );
  box-shadow: 0 8px 32px 0 rgba(217, 218, 238, 0.37);
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
  align-self: stretch;
  justify-self: stretch;
  margin: 2px;
}
