body{
  background-image: url("../images/background-fhd.jpg");
  background-size: cover;
}

.notebook-img{
  position:absolute;
  width: 50vw;
  z-index: -1;
}


.calculator-display-container{
}

.calculator-number-container{
  font-family: 'Nanum Brush Script', cursive;
  font-size: 5vw;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.notebook-wrapper{
  position: relative;
  width: 50vw;
  height: 50vw;
  margin: auto;
} 

.notebook-wrapper {
  @media (orientation: portrait) {
    width: 80vw;
    height: 80vw; 
    color: green;
  }
}


.calculator-button{
  background: rgba( 255, 255, 255, 0.30 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
  align-self: stretch;
  justify-self: stretch;
  margin: 2px;
}
